*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{

    overflow-x: hidden;
    background-color: black;
    font-family: sans-serif;
}
.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bar-line{
    display: none;
}
.nav-header-section{
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/Photos/mainBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 50% top 80%;
    background-color: rgba(93, 102, 117, 0.662);
    background-blend-mode: multiply;
    padding: 0 150px;
  
    
}
.nav-container{
    height: 10%;
    padding: 0 60px;
}

.nav-items{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.list-items{
    display: flex;
    flex-direction: row;
    color: #fff;
    column-gap: 80px;
    list-style: none;

}
.list-items li:hover{
    color: rgb(75, 137, 253);
    cursor: pointer;
}
img[ src="/assets/Icons/Logo.svg" ]{
    width: 130px;
}
.line{
    width: 80vw;
    height: 1.5px;
    background-color: rgb(130, 129, 129);
    margin-top: 20px;
}
.header-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 50px;
    width: 100%;
    height: 80%;
}

.header-text h1{
    font-size: 50px;
    color: #fff;
    width: 500px;
}

.header-text p{
    width: 430px ;
    color: rgb(170, 169, 169);
    line-height: 25px;
    font-size: 20px;
}
.header-text button{
    padding: 13px 30px;
    border-radius: 40px;
    border: none;
    color: #fff;
    font-size: 15px;
    background-color: rgb(36, 89, 222);
    
}

.header-text button:hover{
    background-color: #fff;
    color:rgb(36, 89,222) ;
    cursor: pointer;
    transition:all ease-in-out 0.5s ;
}

.logo-section{
    width: 95vw;
    height: 125px;
    background-color: #fff;
    border-radius: 20px;
    padding: 0 115px;
    position: absolute;
    top: 94%;
    

}
.logo-section ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(49, 116, 241);
    font-size: 40px;
    list-style: none;
    column-gap: 10%;
    margin-top: 30px;

}
/* grid section */

.grid-container{
    background-color: #fff;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;


}
.grid-child-container{
    
    width: 100vw;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 1fr);
    column-gap:50px ;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.child{
    width: 300px;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
}

.child:hover{
    transition: transform ease-in-out 1.8s;
    transform: rotate(360deg);


}
.grid-container h2{
    color: black;
    font-size: 55px;
    padding: 50px;
    width: 600px;
    text-align: center;

}
.grid-child-box{
    position: relative;
}
.grid-child-box-1{
    margin-bottom: 100px;
}
.grid-child-box-2{
    margin-bottom: 100px;
}
.grid-child-box-3{
    margin-bottom: 100px;
}
.grid-child-box-4{
    margin-bottom: 100px;
}
.grid-child-box-5{
    margin-bottom: 100px;
}
.grid-child-box-6{
    margin-bottom: 100px;
}
.grid-child-box-7{
    margin-bottom: 100px;
}
.grid-child-box-8{
    margin-bottom: 100px;
}
.grid-child-box-9{
    margin-bottom: 100px;
}

.flex-box{
    display: flex;
    flex-direction: row;
    height: fit-content ;
    width: fit-content;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    column-gap: 60px;
    border-radius: 20px;
    box-shadow: 0 3px 5px 0 rgb(216, 216, 216);
    position: absolute;
    top: 90%;
    left: 11%;
  

}
.flex-box:hover{
    transition: all ease-in-out 1s;
    transform: scale(1) translate(40%, -80%);
    cursor: pointer;
}
.flex-child{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.flex-child > span:nth-child(2){
    color: rgb(63, 163, 250);
}
.flex-child > span:nth-child(1){
    font-weight: 600;
    text-transform: capitalize;
}
.flex-box > button{
    padding: 8px 15px;
    border-radius: 20px;
    background-color: rgb(35, 81, 251);
    border-style: none;
    color: #fff;
    font-size: 12px;

}

.flex-box > button:hover{
    cursor: pointer;
    transition: all ease-in-out 1s;
    background-color: #fff;
    color:rgb(35,81,251) ;
}

/* early bird book section */

.early-bird-book-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 100px 0 50px 0;
    gap: 100px;
    width: 100vw;
}
.features-box-1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.features-box-2{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
}

.features-image{
    position: relative;
}

.features-image > img:nth-child(1){
    width: 600px;
}
.features-image> img:nth-child(2){
    width: 420px;
    height: 400px;
    position: absolute;
    top: 35%;
    left: 56%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}

.features-image-2{
    position: relative;
}

.features-image-2 > img:nth-child(1){
    width: 600px;

}
.features-image-2 > img:nth-child(2){
    width: 420px;
    height: 400px;
    position: absolute;
    top: 10px;
    right: 90px;
    border-radius: 30px;

}

.feature-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding: 100px 200px 0 0 ;
}
.feature-text h2{
    font-size: 50px;
    width: 500px;
    line-height: 70px;
}

.feature-text p {
    font-size: 15px;
    width: 400px;
    color: rgb(148, 147, 147);

}

.feature-text button{
    padding: 15px 30px;
    color: #fff;
    font-size: 12px;
    border-radius: 30px;
    border-style: none;
    background-color: rgb(76, 125, 248);
    font-weight: 600;
}

.feature-text button:hover {
    color: rgb(76, 125, 248);
    background-color: #fff;
    cursor: pointer;
    border: 2px solid #2459de ;
    transition: all ease-in-out 0.5s;
}

.feature-text-2{
    padding: 50px 0 50px 200px;
}

.subscribe-section{
    width: 100vw;
    background-color: #fff;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe-box{
    width: 80vw;
    height: fit-content;
    background-color: rgb(62, 122, 252);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    text-align: center;
    padding: 50px 100px;
    color: #fff;
}
/* .subscribe-box button:hover {
    color: rgb(62, 122, 252);
    background-color: #fff;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
} */
.subscribe-box h2 {
    font-size: 45px;
    width: 750px ;
}
.subscribe-box p{
    font-size: 15px;
    width: 500px;
    line-height:30px;
}

.subscribe-box input{
    padding: 12px 30px;
    background-color: rgb(114, 175, 254);
    color: #fff;
    border: none;
    border-radius: 30px;
    outline: none;


}
::placeholder {
    color: rgb(193, 218, 254);
  }
.subscribe-box button{
    padding: 12px 35px;
    outline: none;
    border: none;
    color: rgb(69, 114, 249);
    background-color: #fff;
    border-radius: 30px;
    margin-left: 30px;
}
.subscribe-box button:hover{
    background-color:  rgb(69, 114, 249);
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    border: 1px solid rgb(69, 114, 249);
}

footer{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 150px;
    background-color: #fff;
}

.icon-footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.icon-footer p{
    width: 250px;
    line-height: 25px;
}
.icon-footer > div > img{
    margin-right: 9px;
    width: 35px;
}
.icon-footer > div > img:hover{
    cursor: pointer;
}
.footer-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 150px;
    margin-right: 80px;
    
}

.footer-text > div{
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.footer-text > div > span{
    font-size: 15px;
    color: rgb(109, 109, 109);
}